<div class="easyui-layout" data-options="fit:true">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar-emp">
        <div class="wu-toolbar-button">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openAddEmp()" plain="true">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openEditEmp()" plain="true">修改</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="removeEmp()" plain="true">删除</a>
<!--            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="cancel()" plain="true">取消</a>-->
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="reload()" plain="true">刷新</a>

        </div>
        <div class="wu-toolbar-search" >
            <label>姓名:</label><input class="wu-text" style="width:100px" id="realName">
            <label>账号:</label><input class="wu-text" style="width:100px" id="userName">
            <label >部门:</label>
            <select class="easyui-combobox" panelHeight="auto" style="width:100px"
              id="deptName" >
<!--                <option value="">请选择</option>&ndash;&gt;-->
<!--                <option value="">人事部</option>-->
<!--                <option value="2">红钻</option>-->
<!--                <option value="3">蓝钻</option>-->
            </select>
            <label>职位：</label><input class="wu-text" style="width:100px" id="roleName">
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="empSearch">开始检索</a>
            <script>
                $(function () {
                    $("#empSearch").click(function () {
                            //当点击此按钮时，附带参数重载表格 参数json对象 name:value empVo类型属性-name
                            //也附带页码
                    $("#wu-datagrid-emp").datagrid("load",{
                            pageNum:  $("#wu-datagrid-emp").datagrid('options').pageNumber
                            ,pageSize: $("#wu-datagrid-emp").datagrid('options').pageSize
                            ,realName:$("#realName").val()
                            ,userName:$("#userName").val()
                            ,deptName:$("#deptName").val()
                            ,roleName:$("#roleName").val()
                          });
                        });
                });

            </script>
        </div>
    </div>
    <!-- End of toolbar -->
    <table id="wu-datagrid-emp" class="easyui-datagrid" toolbar="#wu-toolbar-emp"></table>
</div>
<!-- Begin of easyui-dialog -->
<div id="wu-dialog-emp" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
	<form id="wu-form-emp" method="post">
        <input type="hidden" name="id" class="wu-text"/>
        <table>
            <tr>
                <td width="60" align="right">员工编号:</td>
                <td><input type="text" name="id" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">账号:</td>
                <td><input type="text" name="userName" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">电话号码:</td>
                <td><input type="text" name="tel" class="wu-text"/></td>
            </tr>
            <tr>
                <td align="right">身份证号码:</td>
                <td><input type="text" name="idCardNo" class="wu-text"/></td>
            </tr>
            <tr>
               <td align="right">真实姓名:</td>
                <td><input type="text" name="realName" class="wu-text"/></td>
            </tr>
            <tr>
                <td align="right">性别:</td>
                <td>
                     <input type="radio" name="gender"  value="0" />男
                    <input type="radio" name="gender"  value="1" />女
                </td>
            </tr>
            <tr>
                <td align="right">邮箱:</td>
                <td><input type="text" name="email" class="wu-text"/></td>
            </tr>
            <tr>
                <td align="right">地址:</td>
                <td><input type="text" name="address" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">生日:</td>
                <td><input type="text" name="birthDate" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">部门名称</td>
                <td><input name="deptId" id="deptSelect" class="easyui-combobox"
                data-options="valueField:'id',textField:'name',url:'dept/findAll'"/></td>
            </tr>
            <tr>
                <td align="right">职位:</td>
                <td id="ck_roles"></td>
            </tr>
        </table>
    </form>
    <script>
        $(function () {
         $.ajax({
             url:'role/findAll',
             success:function (data) {
                 console.log(data);
                 $(data).each(function () {
                     $("#ck_roles").html(
                         $("#ck_roles").html()+"<input type='checkbox' name='roleIds' value='"+this.roleId+"'>" +
                        "<span>"+this.roleName+"</span>" + '<br>'
                     )
                 });
             }
         });
     })


    </script>
</div>
<!-- End of easyui-dialog -->
<script type="text/javascript">
	/**
	* Name 添加记录
	*/
	function addEmp(){
		$('#wu-form-emp').form('submit', {
			url:'emp/add',//提交的路径 dept/add
			success:function(data){
			    console.log(data);
				if(data=='true'){
					$.messager.alert('信息提示','提交成功！','info',function(){
					    //当窗口关闭时触发该函数 更新表格
                        $("wu-datagrid-emp").datagrid('reload');
                    });
					$('#wu-dialog-emp').dialog('close');
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}
	
	/**
	* Name 修改记录
	*/
	function editEmp(){
		$('#wu-form-emp').form('submit', {
			url:'emp/update', //x修改的路径
			success:function(data){//响应数据
				if(data=='true'){
					$.messager.alert('信息提示','提交成功！','info',function () {
                //当窗口关闭时触发该函数--更新表格
                        $('wu-datagrid-emp').datagrid('reload');
                    });
					$('#wu-dialog-emp').dialog('close');
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}
	
	/**
	* Name 删除记录
	*/
	function removeEmp(){
        var items = $('#wu-datagrid-emp').datagrid('getSelections');
        //如果没有选中任何数据，不需要进行任何操作
        if(items.length==0){
            return;
        }
		$.messager.confirm('信息提示','确定要删除该记录？', function(result){
			if(result){
        //获取所有要删除的id
				var ids = [];
				//jquery的循环方法each,遍历items数组
				$(items).each(function(){
					ids.push(this.id);	//this 数组的每一项，items把选中的加入到ids数组中
				});
				console.log(ids);
				//alert(ids);return;
				$.ajax({
					url:'emp/remove',//dept/remove
                    //当ajax请求参数为数组时，需要设置
                    traditional:true,//在servlet这个属性默认是false,改为true
					data:{ids:ids},
					success:function(data){
						if(data){
							$.messager.alert('信息提示','删除成功！','info',function () {
                                //当窗口关闭时触发该函数--更新表格
                                $('wu-datagrid-emp').datagrid('reload');

                            });
						}
						else
						{
							$.messager.alert('信息提示','删除失败！','info');		
						}
					}	
				});
			}	
		});
	}
	
	/**
	* Name 打开添加窗口
	*/
	function openAddEmp(){
	    //清除表单数据
		$('#wu-form-emp').form('clear');
		//easyUi的dialog功能，把它作为窗口来定义
		$('#wu-dialog-emp').dialog({
            //是否关闭窗口
			closed: false,
            //定义窗口是不是模态，是的只能进行窗口操作，不能进行其他操作
			modal:true,
            //窗口的标题文本
            title: "添加信息",
            //数组，每一个按钮由json对象来定义
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',//class
                handler: addEmp //用于处理点击该图标以后的动作 相当于onclick
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    //关闭模态框
                    $('#wu-dialog-emp').dialog('close');                    
                }
            }]
        });
	}
	
	/**
	* Name 打开修改窗口
	*/
	function openEditEmp(){
	    //先清除表单的数据
		$('#wu-form-emp').form('clear');
		//getSelections none 返回所有选中的行，当没有选中数据时，返回空数组
		var items= $('#wu-datagrid-emp').datagrid('getSelections');
		console.log(items);
		if(items.length==0){
		    //请输入要修改的数据-没有任何的效果
            $.messager.alert('信息提示','请选择要修改的数据','warning')
            return;
        }else if(items.length>1){
		  $.messager.alert('信息提示','一次只能修改一次数据','warning')
            return;
        }
		//直接给表单进行回显，使用勾选的数据
       $('#wu-form-emp').form('load',items[0])
		$.ajax({//ajax回显
			url:'emp/findById',
			data:{id:items[0].id},//提交数据的id
			success:function(data){//成功回调函数，data响应的数据
				if(data){
					$('#wu-form-emp').form('load',data);//data就是表单回显的数据，自动进行显，根据name的值
                    //回显多选框选中的data.roleName时一个字符串 多个role使用，拼接起来，显拆分一个数组
                     var roleName=data.roleName.split(",");
                     console.log(roleName);
                     for(var i=0;i<roleName.length;i++){
                        $("span:contains('"+roleName[i]+"')").prev("input:checkbox").attr("checked","checked");
                        console.log(roleName[i]);
                    }
                //做一个部门选中
                    $.ajax({
                        url:'dept/findAll',
                        success:function (deptData) {
                            $.each(deptData,function () {
                                if (this.name==data.deptName){
                                    $('#deptSelect').combobox('select',this.id);
                                }
                            })
                        }
                    });
				}
				else{
				    $('#wu-dialog-emp').dialog('close');
                    //$('#wu-form-emp').form('load', data)
				}
			}
		});
		$('#wu-dialog-emp').dialog({
			closed: false,
			modal:true,
            title: "修改信息",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: editEmp
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#wu-dialog-emp').dialog('close');
                }
            }]
        });
	}
	
	/**
	* Name 分页过滤器
	*/
	function pagerFilter(data){            
		console.log(data);
		var dg = $(this);         
		var opts = dg.datagrid('options');          
		var pager = dg.datagrid('getPager');          
		pager.pagination({                
			onSelectPage:function(pageNum, pageSize){                 
				opts.pageNumber = pageNum;                   
				opts.pageSize = pageSize;
				console.log(pageSize)
				//dg.datagrid('loadData',data);
                dg.datagrid('load',{
                    pageNum:pageNum,
                    pageSize:pageSize,
                    userName:$("#userName").val()
                    ,realName:$("#realName").val()
                    ,deptName:$("#deptName").val()
                    ,roleName:$("#roleName").val()
                });
                //更改下面的页码
                pager.pagination('refresh',{pageNumber:pageNum,pageSize:pageSize});
            }
		});           
		// if (!data.originalRows){
		// 	data.originalRows = (data.rows);
		// }
		// var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
		// var end = start + parseInt(opts.pageSize);
		// data.rows = (data.originalRows.slice(start, end));
		return data;
	}
	
	/**
	* Name 载入数据
	*/
	$('#wu-datagrid-emp').datagrid({
		url:'emp/page',//请求数据的地址--ajax请求数据地址，easyui请求数据地址含有total和rows,total是总数，
        // rows是json数组
		loadFilter:pagerFilter,		
		//rownumbers:true,
		singleSelect:false,
		pageSize:2,
        pageList:[1,2,3,4,5],
		pagination:true,
		//multiSort:true,
		fitColumns:true,
		fit:true,
		columns:[[//指定数据表格的表头
			{ checkbox:true},
            //title是表格的表头,filed是json对象的属性名称
			{ field:'id',title:'员工编号',width:100,sortable:true},
			{ field:'userName',title:'账号',width:180,sortable:true},
			{ field:'tel',title:'电话号码',width:100},
			{ field:'idCardNo',title:'身份证号码',width:100},
			{ field:'realName',title:'真实姓名',width:100},
			{ field:'gender',title:'性别',width:100},
			{ field:'email',title:'邮箱',width:100},
            { field:'address',title:'地址',width:100,formatter: function(value,row){
                    if (value==0){
                        return '男';
                    } else {
                        return '女';
                    }
                }},
            { field:'birthDate',title:'生日',width:100},
            { field:'deptName',title:'部门名称',width:100},
            { field:'roleName',title:'职位',width:100},
		]]
	});
</script>